<!--<div class="coment-area" style="display: block" >-->
<!--  <ul class="we-comet">-->
<!--    <li *ngFor="let cmt of comments, index as i">-->
<!--      <div class="comet-avatar">-->
<!--        <img src="{{cmt.users.avatar}}" alt="">-->
<!--      </div>-->
<!--      <div class="we-comment">-->
<!--        <h5><a href="time-line.html" title="">{{cmt.users.name}}</a></h5>-->
<!--        <p>{{cmt.content}}</p>-->
<!--        <div class="inline-itms">-->
<!--          <span>{{cmt.time}}</span>-->
<!--          <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>-->
<!--          <a href="#" title=""><i class="fa fa-heart"></i><span>20</span></a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </li>-->


<!--    <li class="post-comment">-->
<!--      <div class="comet-avatar">-->
<!--        <img src="{{users.avatar}}">-->
<!--      </div>-->
<!--      <div class="post-comt-box">-->
<!--        <form method="post" #f="ngForm" (ngSubmit)="f.form.valid&&ngSubmit()">-->
<!--          <textarea placeholder="Post your comment" [(ngModel)]="content_comment" name="content_comment"></textarea>-->
<!--          <button style="color: #fa6342" type="submit">Post <i style="color: #fa6342" class="ti-export"></i> </button>-->

<!--          <div class="add-smiles">-->
<!--            <div class="uploadimage">-->
<!--              <i class="fa fa-image"></i>-->
<!--              <label class="fileContainer">-->
<!--                <input type="file" name="file" id="file" class="inputfile" #uploadFile1 (change)="uploadFileImg()">-->
<!--              </label>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div *ngFor="let img of arrayPicture">-->
<!--            <img [src]="img" height="50" width="100">-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
