



    <li class="post-comment">
      <div class="comet-avatar">
        <img src="{{users.avatar}}">
      </div>
      <div class="post-comt-box">
        <form method="post" #f="ngForm" (ngSubmit)="f.form.valid&&ngSubmit()">
          <div *ngFor="let img of arrayPicture" style="height: 48px; width: 68px">
            <img [src]="img" >
          </div>
          <textarea placeholder="Post your comment" [(ngModel)]="content_comment" name="content_comment"></textarea>
          <button style="color: #fa6342" type="submit">Post <i style="color: #fa6342" class="ti-export"></i> </button>

          <div class="add-smiles">
            <div class="uploadimage">
              <i class="fa fa-image"></i>
              <label class="fileContainer">
                <input type="file" name="file" id="file" class="inputfile" #uploadFile1 (change)="uploadFileImg()">
              </label>
            </div>
          </div>

        </form>
      </div>
    </li>

