<div class="central-meta item" *ngFor="let post of posts, index as i">
  <div class="user-post">
    <div class="friend-info">
      <figure>
        <img src="{{post.users.avatar}}" alt="">
      </figure>
      <div class="friend-name">
        <div class="more">
          <div class="more-post-optns"><i class="ti-more-alt"></i>
            <ul>
              <li (click)="openFormEditPost(post)"><i class="fa fa-pencil-square-o"></i>Edit Post</li>
              <li (click)="delete(post)"><i class="fa fa-trash-o"></i>Delete Post</li>
              <li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
              <li><i class="fa fa-address-card-o"></i>Boost This Post</li>
              <li><i class="fa fa-clock-o"></i>Schedule Post</li>
              <li><i class="fa fa-wpexplorer"></i>Select as featured</li>
              <li><i class="fa fa-bell-slash-o"></i>Turn off Notifications</li>
            </ul>
          </div>
        </div>
        <ins><a href="time-line.html" title="">{{post.users.name}}</a></ins>
        <span><i class="fa fa-globe"></i> published: {{post.time}} </span>
      </div>
      <div class="post-meta">
        <p>
          {{post.content}}
        </p>
        <figure>
          <div *ngIf="post.image != null" class="img-bunch">
            <img src="{{post.image}}" style="height: 520px">
          </div>
        </figure>
        <div class="we-video-info">
          <ul>

            <li>
              <div (click)="likePost(post)" class="likes heart" title="Like/Dislike" [style.color]="post.status ? '#adadfd' : '#fa6342'">❤ <span
                style="color:#adadfd">{{likeNumbers[i]}}</span></div>
            </li>


            <li>
																<span class="comment" title="Comments">
																	<i class="fa fa-commenting"></i>
																	<ins>52</ins>
																</span>
            </li>

            <li>
																<span>
																	<a class="share-pst" href="#" title="Share">
																		<i class="fa fa-share-alt"></i>
																	</a>
																	<ins>20</ins>
																</span>
            </li>
          </ul>
          <div class="users-thumb-list">
            <a data-toggle="tooltip" title="Anderw" href="#">
              <img alt="" src="../../../../assets/images/resources/userlist-1.jpg">
            </a>
            <a data-toggle="tooltip" title="frank" href="#">
              <img alt="" src="../../../../assets/images/resources/userlist-2.jpg">
            </a>
            <a data-toggle="tooltip" title="Sara" href="#">
              <img alt="" src="../../../../assets/images/resources/userlist-3.jpg">
            </a>
            <a data-toggle="tooltip" title="Amy" href="#">
              <img alt="" src="../../../../assets/images/resources/userlist-4.jpg">
            </a>
            <a data-toggle="tooltip" title="Ema" href="#">
              <img alt="" src="../../../../assets/images/resources/userlist-5.jpg">
            </a>
            <span><strong>You</strong>, <b>Sarah</b> and <a href="#"
                                                            title="">24+ more</a> liked</span>
          </div>
        </div>
      </div>
      <div class="coment-area" style="display: block">
        <ul class="we-comet">
          <li *ngFor="let cmt of post.comments">
            <div class="comet-avatar">
              <img src="{{cmt.users.avatar}}" alt="">
            </div>
            <div class="we-comment">
              <h5><a href="time-line.html" title="">{{cmt.users.name}}</a></h5>
              <p>{{cmt.content}}</p>
              <img src="{{cmt.image}}" width="100px" style="float: right">
              <div class="inline-itms">
                <span>{{cmt.time}}</span>
                <a href="#" title=""><i class="fa fa-heart"></i><span>20</span></a>

                <a class="we-reply" title="Reply" (click)="deleteComment(cmt.id)"><i class="fa fa-trash" style="color: #fa6342"></i></a>

              </div>
            </div>
          </li>
      <app-page-comment [post]="post"></app-page-comment>
        </ul>
      </div>
    </div>

  </div>
</div>

